<!-- 开发版本，包含有用的控制台警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="test1">
<input v-model="message" placeholder="编辑">
<p>message 是：{{ message }}</p>
</div>

<div id="test2">
<span>多行 message 是：</span>
<p style="white-space: pre-line;">{{ message }}</p>
<br>
<textarea v-model="message" placeholder="添加多行"></textarea>
</div>

<div id="test3">

<input type="checkbox" id="checkbox" v-model="checked">
<label for="checkbox">{{ checked }}</label>


</div>


<div id='example-3'>
  <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
  <label for="jack">Jack</label>
  <input type="checkbox" id="john" value="Jack" v-model="checkedNames">
  <label for="john">John</label>
  <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
  <label for="mike">Mike</label>
  <br>
  <span>勾选的名字是：{{ checkedNames }}</span>
</div>


<div id="test4">


<input type="radio" id="one" value="One" v-model="picked">
<label for="one">One</label>
<br>
<input type="radio" id="two" value="Two" v-model="picked">
<label for="two">Two</label>
<br>
<input type="radio" id="three" value="Two" v-model="picked">
<label for="three">three</label>
<br>
<span>选中的是：{{ picked }}</span>
</div>

<div id="test5">


<select v-model="selected">
  <option disabled value="">请选择其中一项</option>
  <option value="a">A</option>
  <option value="b">B</option>
  <option value="c">C</option>
</select>
<span>选中的是：{{ selected }}</span>

</div>

<div id="test6">


<select v-model="selected" multiple>
  <option>A</option>
  <option>B</option>
  <option>C</option>
</select>
<br>
<span>选中的是：{{ selected }}</span>

</div>

<div id="test7">


<select v-model="selected">
  <option v-for="option in options" v-bind:value="option.value">
    {{ option.text }}
  </option>
</select>
<span>选中的是：{{ selected }}</span>

</div>

<div id="test8">

<input
  type="checkbox"
  v-model="toggle"
  true-value="yes"
  false-value="no"
>
<span>{{toggle}}</span>
</div>

<div id="test9">

<input type="radio" v-model="pick" v-bind:value="a">
<span>{{pick}}</span>
</div>

<div id="test10">

<select v-model="selected">
  <!-- 内联对象字面量 -->
  <option v-bind:value="{ number: 123 }">123</option>
</select>
<span>{{selected}}</span>
</div>


<div id="test11">

<!-- 在触发 "change" 事件后同步，而不是在触发 "input" 事件后更新 -->
<label>lazyOnchange失焦后更新</label><input v-model.lazy="msg" @change="change">
<span>{{msg}}</span>
<br/>
<label>Oninput即时更新</label><input v-model="msg" >
<span>{{msg}}</span>
</div>


<div id="test12">

<input v-model.number="age" >
<span>{{age}}</span>
</div>


<div id="test13">


<input v-model.trim="msg">
<span>{{msg}}</span>


</div>


<script>

var test1 = new Vue({
	el:'#test1',
	data:{
		message:''
	},
	methods:{
		
	}
});

var test2 = new Vue({

	el:'#test2',
	data:{
		message:''
	},
	methods:{},
	

});

var test3 = new Vue({
	
	el:'#test3',
	data:{
		checked:true
	}

});
new Vue({
  el: '#example-3',
  data: {
    checkedNames: []
  }
})
var test4 = new Vue({
	
	el:'#test4',
	data:{
		picked:[]
	}

});

new Vue({
  el: '#test5',
  data: {
    selected: ''
  }
})

new Vue({
  el: '#test6',
  data: {
    selected: []
  }
})

new Vue({
  el: '#test7',
  data: {
    selected: 'A',
    options: [
      { text: 'One', value: 'A' },
      { text: 'Two', value: 'B' },
      { text: 'Three', value: 'C' }
    ]
  }
})

new Vue({
	el:'#test8',
	data:{
		toggle:'yes'
	}

});

new Vue({
	el:'#test9',
	data:{
		pick:'yes',
		a:'初始值'
	}

});

var test10 = new Vue({
	el:'#test10',
	data:{
		selected:''
	}

})


var test11 = new Vue({
	el:'#test11',
	data:{
		message:'初始值',
	},
	computed:{
			msg:{
				get:function(){
					alert(this.message);
					return this.message;
				},
				set:function(val){
					alert(val);
					this.message = val;
				}
				
			}
	},
	methods:{
		change:function(val,val1){
			console.log('change:' + val);
			console.log('change1:' + val1);
		}
	}

})

var test12 = new Vue({
	el:'#test12',
	data:{
		age:10
	}
});

var test13 = new Vue({
	el:'#test13',
	data:{
		msg:'msg'
	}
});

</script>